@{
    ViewBag.Title = "Home Page";
}

<div class="head">
    <h1>Домашнее задание</h1>
</div>

<div class="jumbotron copy-jumbotron">
    <div class="row parent">
        <div class="col-md-4 col-lg-4 col-sm-4 setting-div-for-image">
            <div>
                <img class="setting-image" src="~/Resources/Avatar.jpg" />
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 setting-information">
            <h2>Королев Максим Евгеньевич</h2>
            <p>Студент с многопрофильного колледжа ТИУ, желающий научиться программировать</p>
            <p>Ссылки на социальные <wbr /> сети:</p>
            <div>
                <div class="links">
                    <div class="links">
                        <a class=" links-iteems text-links" target="_blank" href="https://github.com/MaxZmoZg">
                            <img class="img-links" src="~/Resources/Git-Icon-Black.png" />
                            <p class="paragraph">GitHub</p>
                        </a>
                        <a class="links-iteems text-links" target="_blank" href="https://vk.com/max_koroliov">
                            <img class="img-links" src="~/Resources/Vklogo.png" />
                            <p class="paragraph">Вконтакте</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

